
<div id="logo">
	<div>{{title}}</div>
</div>

<div id="slogun">{{slogun}}</div>

<div class="login">
	<div class="input-group margin-bottom-sm">
		<span class="input-group-addon">
			<i class="fa fa-envelope-o fa-fw"></i>
		</span>
		<input class="form-control" type="text" placeholder="email" />
	</div>
</div>

<div class="login">
	<div class="input-group margin-bottom-sm">
		<span class="input-group-addon">
			<i class="fa fa-key fa-fw"></i>
		</span>
		<input class="form-control" type="password" placeholder="password" />
	</div>
</div>